#settingsButton {
    position: absolute;
    top: 0;
    right: 0;

    width: 4vw;
    height: 4vw;

    background-color: rgb(184, 184, 184);
    border: 2px solid gray;
    margin: 10px;
    padding: 2px;
    border-radius: 10px;
    transition: all 0.2s ease;
    z-index: 6;
}

#settingsButton:hover {
    transition: transform 0.2s ease;
    transform: scale(1.05);
    transform: rotate(90deg);
}

#settingsPage {
    background-color: gray;
    visibility: hidden;
    width: 80%;
    height: 80%;
    
    position: absolute;
    z-index: 5;
    
    top: 0;
}