body.darkMode, #settingsPage.darkMode {
    background-color: rgb(50, 50, 50);
    color: white;
}

#mathInput.darkMode {
    background-color: rgb(187, 187, 187);
}

#mathInput.darkMode:hover, #mathInput.darkMode:focus {
    /* Override the hover and focus styles from main.css */
    background-color: rgb(187, 187, 187) !important;
}

#settingsButton.darkMode {
    background-color: rgb(206, 206, 206);
    border: 2px solid white;
}

#calculate.darkMode {
    background-color: rgb(112, 112, 112);
}


#settingsButton {
    position: absolute;
    top: 0;
    right: 0;

    width: 3vw;
    height: 3vw;
    min-width: 25px;
    min-height: 25px;

    background-color: rgb(184, 184, 184);
    border: 2px solid gray;
    margin: 15px;
    padding: 2px;
    border-radius: 10px;
    transition: all 0.2s ease;
    z-index: 6;
}

#settingsButton:hover {
    transition: transform 0.2s ease;
    transform: scale(1.05);
}

#settingsButton > img {
    width: 100%;
    transition: transform 0.2s ease;
    
    transform: rotate(90deg);
}

#settingsPage {
    background-color: rgb(172, 172, 172);
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
}

.settingsOptions {
    background-color: lightgray;
    display: inline-block;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
}

.settingsOptions.darkMode {
    background-color: rgb(179, 179, 179);
}

.settingsOptions > input {
    width: 150px;
}

#darkModeSetting {
    display: inline-block;
    width: 2em;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s ease;
}

#darkModeSetting:hover {
    transition: transform 0.2s ease;
    transform: scale(1.05);
}