* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    text-align: center;
    animation: fadeInAnimation ease 1.3s;
    font-size: 30px;
}

.input {
    display: inline-block;
    text-align: center;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: lightgray;
}

select {
    background-color: rgb(232, 232, 232);
    height: 32px;
    border: none;
    min-width: 70px;
    width: 350px;
    font-size: 18px;
    border-radius: .3em;
}

select:focus {
    outline: none;
    background-color: rgb(230, 230, 230);
    border: .1em solid #545454;
}
  
option {
    background-color: rgb(232, 232, 232);
    font-size: 18px;
    padding: 10px 20px;
}

input {
    width: 70%;
    font-size: 30px;
    background-color: rgb(232, 232, 232);
    text-align: center;
    transform: scale(1);
    padding: 13px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0.5em;
    filter: drop-shadow(3px 2px 1px gray);
    transition: all 0.5s ease;
    caret-color: rgb(89, 89, 89);
}

input:focus {
    will-change: transform;
    animation: inputAnimation ease 0.4s;
    background-color: rgb(230, 230, 230);
    transform: scale(1.01);
    padding: 15px 25px;
    outline: none;
}

button {
    background-color: #424242;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 80%;
    height: 60px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    transition: opacity 0.2s ease;
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}

.answer {
    padding: 5px;
    font-size: 35px;
    font-weight: bold;
    overflow: wrap;
}

hr {
    border: 1px solid #545454;
}

h1 {
    text-align: center;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #545454;
}

a:active {
    color: rgb(132, 132, 132);
}

@keyframes fadeInAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes inputAnimation {
    0% {
        background-color: rgb(232, 232, 232);
        transform: scale(1);
        padding: 12px 20px;
    }
    100% {
        background-color: rgb(230, 230, 230);
        transform: scale(1.01);
        padding: 15px 25px;
    }
}