input {
    max-width: 150px;
}

.rowcolumncontainer {
    display: inline;
}

#matrices {
    display: flex;
}

@media screen and (max-width: 1800px) {
    #matrices {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    input {
        max-width: 50px;
        border-radius: 0;
    }
}

@media screen and (max-width: 500px) {
    .rowcolumncontainer {
        display: block;
    }
}

.matrix {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0 20px 40px 20px;
}

#rowsValueA, #columnsValueA, #rowsValueB, #columnsValueB {
    width: 1.5em;
}