#matrices {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1300px) {
    #matrices {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    input {
        max-width: 40%;
        border-radius: 0;
    }
}

.matrix {
    margin: auto;
}

#rowsValue, #columnsValue {
    width: 1.5em;
}