html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    text-align: center;
    animation: fadeInAnimation ease 1.5s;
}

.input {
    display:inline-block;
    text-align: center;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: lightgray;
}

input {
    text-align: center;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input:focus {
    animation: inputAnimation ease 0.3s;
    background-color: rgb(205, 205, 205);
}

button {
    background-color: #424242;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 80%;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}

.answer {
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
}
@keyframes fadeInAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes inputAnimation {
    0% {
        background-color: lightgray;
    }
    100% {
        background-color: rgb(205, 205, 205);
    }
}




hr {
    border: 1px solid rgb(55, 55, 55);
}

h1 {
    text-align: center;
}

a:link {
    color: rgb(27, 27, 27);
}

a:visited {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(67, 67, 67);
}

a:active {
    color: rgb(132, 132, 132);
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 7px;
}