.input {
    display:inline-block;
    text-align: center;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: lightgray;
}

input {
    text-align: center;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input:focus {
    animation: inputAnimation ease 0.3s;
    background-color: rgb(205, 205, 205);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}

button:hover {
    opacity: 0.8;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #929292;
    text-align: center;
    animation: fadeInAnimation ease 1.5s;
}

.answer {
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
}
@keyframes fadeInAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes inputAnimation {
    0% {
        background-color: lightgray;
    }
    100% {
        background-color: rgb(205, 205, 205);
    }
}