#resourcecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.resource {
    background-color: #424242;
    margin: 10px;
    width: 500px;
    height: 500px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 60px;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.5s ease;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.resource:hover {
    transition: opacity 0.2s ease;
    transition: transform 0.2s ease;

    opacity: 0.9;
    transform: scale(1.02);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}