.scroll-watcher {
    height: 0.5%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: darkgray;
    transform-origin: left;
    scale: 0 1;
    animation: scroll-watcher 1s linear;
    animation-timeline: scroll();
}

img {
    max-width: 95%;
    
}

.subsection {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
}

.left-side {
    width: 60%;
    
}

.right-side {
    width: 40%;
    
}

.section-text {
    scale: 0.9;
    opacity: 0;
    filter: blur(2px);;

    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: blur-fade-in;
    animation-range: entry 40% contain 25%;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
}

@keyframes scroll-watcher {
    to { scale: 1 1; }
}

@keyframes blur-fade-in {    
    to {
        scale: 1;
        opacity: 1;
        filter: none;
    }
}